.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rprofile

docs/
/.quarto/
answers/day1_walkthrough_answers_with_notes.qmd
answers/day2_walkthrough_answers_with_notes.qmd
slides/generation/
slides/archive/